/* Reset some default browser styles */
body, h1, p, ul, li, a, img {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #c00 50%, #fff 50%);
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Add padding to the header */
    z-index: 1000; /* Ensure the header appears above other elements */
	margin-bottom: 100px;
}

.header-content {
    display: flex;
    align-items: center;
}

h1 a {
    text-decoration: none;
    color: white; /* Black link text color for 'IELTS Master' */
    margin-left: -100px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    font-weight: bold; /* Make the navigation links bold */
}

nav ul li {
    display: inline;
    margin-right: 30px; /* Adjust margin to move the navigation links to the left */
}

nav a {
    text-decoration: none;
    color: #000; /* Black link text color for navigation links */
}

img {
    width: 100%;
    height: auto;
    display: block;
}

main {
    text-align: center;
    padding: 20px;
	margin-top:20px;
}

main h1 {
	color:black;
	margin-top:50px;
}

main p {
	color:black;
	text-align:left;
	margin-bottom: 20px;
	margin: 0 20px;
	font-size: 1.1em;
}

main h2 {
	color:black;
	text-align:left;
	margin: 0 20px;
	margin-top:20px;
	margin-bottom:20px;
}
.q{
	text-align:left;
	margin-left:20px;
	margin-bottom:20px;
}
table {
	margin-left:80px;
	color:black;
	font-size: 1.1em;
	margin-top:20px;
	border-collapse: collapse;
	width: 70%;
  
}

.center-table {
    display: flex;
    justify-content: center;
    align-items: center;
	margin-bottom:50px;
}

.form{
	text-align:left;
	margin-left:20px;
}

td{
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width:50%;
}

th {
	 border: 1px solid #dddddd;
	text-align: center;
	padding: 8px;
  
}


footer {
    background-color: #c00;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


/* Styles for the hamburger button */
.hamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-left: 20px; /* Adjust the margin to separate the button from the header text */
    cursor: pointer;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    margin: 2px 0;
}

/* Styles for the filter menu (initially hidden) */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ccc;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.filter-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.filter-menu h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.filter-menu label {
    display: block;
    margin-bottom: 5px;
}

.filter-checkbox {
    margin-right: 5px;
}

/* Show filter menu when hamburger button is clicked */
.hamburger-button.active + .filter-menu {
    display: block;
}
/* Styles for the exercise rows */
.intruction p{
    display: flex;
    flex-wrap: wrap;
	text-align:left;
    justify-content: space-between;
	margin-bottom: 20px;
	margin: 0 20px;
	font-size: 1.1em;
}

.intruction h1{
	font-size: 1.2em;
	text-align:left;
	margin-top: 35px;
	margin-left: 20px;
}

.intruction ul{
	text-align:left;
	margin-left: 40px;
	margin-top: 10px;
	font-size: 1.1em;
}

.intruction ul li{
	margin-bottom: 8px;
}

/* Styles for the smaller exercise rectangles */
.exercise-rectangle {
    width: 48%; /* 48% to accommodate two rectangles in a row with a small gap */
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px 0; /* Adjusted margin for spacing */
}

/* Styles for the red line on the left */
.red-line {
    width: 4px;
    background-color: #c00;
}

/* Styles for the exercise information */
.exercise-info {
    padding: 10px;
}

/* Styles for exercise titles */
.exercise-info h2 {
    font-size: 16px;
    margin: 0;
}

/* Styles for exercise descriptions */
.exercise-info p {
    margin: 5px 0;
}

/* Styles for exercise links */
.exercise-info a {
    text-decoration: none;
    color: #c00;
    font-weight: bold;
}
.recommended-activities {
    display: flex;
    align-items: center;
    margin: 30px 0;
    font-weight: bold; /* Make the text bold */
}

/* Styles for the red line */
.recommended-activities .red-line {
    width: 100%; /* Make the line span the width of the container */
    height: 2px; /* Adjust the height of the line */
    background-color: #c00;
    margin-left: 10px; /* Add space between text and line */
}
/* Styles for the row of IELTS Article rectangles */
.article-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 40px;
}
.article-row a {
    text-decoration: none;
}

.article-row a:hover .article-info p{
    transform: scale(1.1); 
    transition: transform 0.2s;
}

.article-row p {
    color:black;
}
/* Styles for the clickable rectangles for IELTS Articles */
.article-rectangle {
    width: 237px;
    height: 100px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
	
}

/* Styles for the red line on top of each rectangle */
.article-rectangle .red-line {
    background-color: #c00;
    color: white; /* Text color for "IELTS Article" */
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    width: 92%;
	border-radius: 10px;
	
}


/* Styles for the content within the rectangles */
.article-rectangle .article-info {
    padding: 20px;
    /* Add content styles for the articles if needed */
}
/* Styles for the article image */
.article-image {
    width: 237px; /* Set the width of the container to match the rectangle */
    height: 500px; /* Set the height of the container to match the rectangle */
    overflow: hidden; /* Ensure the image is contained within the container */
}

/* Style for the article image */
.article-image img {
    width: 100%; /* Ensure the image takes up the full width of the container */
    height: 500px; /* Automatically adjust the height to maintain the aspect ratio */
}
/* Styles for the newsletter signup section */
.newsletter-signup {
    background-color: #c00;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.newsletter-signup h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.newsletter-signup p {
    font-size: 16px;
    margin-bottom: 20px;
}

.newsletter-signup .form-group {
    margin-bottom: 20px;
}

.newsletter-signup label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.newsletter-signup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
}

.newsletter-signup button {
    background-color: #fff;
    color: #c00;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

/* Style for form elements on focus (optional) */
.newsletter-signup input:focus {
    border: 1px solid #c00;
    color: #c00;
}
#email:focus {
    color: #fff; /* Change the color to white or any other desired color */
}

.r1_fill{
	text-align: left;
}
